apiVersion: v1
kind: Namespace
metadata:
  name: grafana
---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: grafana
  labels:
    dashboards: "grafana"
spec:
  config:
    auth:
      disable_login_form: false
    auth.anonymous:
      enabled: true
    log:
      mode: console
    security:
      admin_user: admin
      admin_password: admin
  deployment:
    spec:
      replicas: 1
      template:
        spec:
          containers:
          - name: grafana
            image: grafana/grafana:11.0.0
